[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=YadQt
Comment=
Terminal=false
Type=Application
Categories=Utility;
Icon=YadQt
Exec=yadqt --type=about -b '<b>YadQt</b><br>Create Qt dialogs from shell scripts<br><br><a href="https://keithdhedger.github.io">Website</a><br><br><a href="mailto:keithdhedger@gmail.com">Mail Me</a>'
