[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=YadQt
Comment=
Terminal=false
Type=Application
Categories=Utility;
Name[en_US]=YadQt
Icon=YadQt.png
Exec=yadqt